


body.full-height #height {
	min-height: 100%;
}

body.full-height #bottom-padding {
	min-height: 3.5em;
}

body.full-height #bottom {
	height: 3em;
	line-height: 3em;
}

*[title]:before {
	transition: right 1s 1s, opacity 1s 0s, z-index 0s 0s;
	content: attr(title);
	position: fixed;
	top: 5px;
	right: -45%;
	z-index: 9999;
	background: #FFD63F;
	color: #000000;
	font-size: 14px;
	text-align: right;
	padding: 0.2em 0.4em;
	border: 1px solid #000000;
	border-radius: 3px;
	max-width: 45%;
	opacity: 0;
	cursor: help;
}

*[title]:hover:before {
	transition-duration: 0.1s;
	transition-delay: 0s;
	right: 5px;
	opacity: 1;
	z-index: 10000;
}

*[title]:hover:before::first-line {
	text-align: left;
}

span.link {
	border-bottom: 1px solid;
	vertical-align: 3px;
}

span.link a {
	text-decoration: none;
	text-shadow: -1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white;
	vertical-align: -3px;
}

span.button {
	display: inline-block;
	color: #FFFFFF;
	background-color: #50693A;
	border-radius: 3px;
	padding: 1px 5px;
	margin: 5px 0;
	cursor: pointer;
}

span.button a {
	direction: inherit;
	color: inherit;
}

span.button:hover {
	background: #599756;
	opacity: 1;
}

span.button:active {
	background: #52B674;
}

span.button.button-activated {
	background: #B35639;
}

span.button.button-unactivated {
	background: #8A8A8A;
}

span.button.button-restore {
	background: #B39128;
}

span.button.button-reset {
	background: #B32D00;
	opacity: 0.7;
}

span.button.button-reset:hover {
	background: #E01A00;
	opacity: 1;
}


span.button.button-progress {
	cursor: progress;

	-webkit-animation: shadowFlashing 5s;
	-moz-animation: shadowFlashing 5s;
	animation: shadowFlashing 5s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate-reverse;
	-moz-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;

	-webkit-transition: box-shadow 0.3s, background-color 0.3s;
	-moz-transition: box-shadow 0.3s, background-color 0.3s;
	-ms-transition: box-shadow 0.3s, background-color 0.3s;
	-o-transition: box-shadow 0.3s, background-color 0.3s;
	transition: box-shadow 0.3s, background-color 0.3s;
}

@-webkit-keyframes shadowFlashing {
	25% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	50% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
	75% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	100% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
}

@-moz-keyframes shadowFlashing {
	25% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	50% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
	75% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	100% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
}

@keyframes shadowFlashing {
	25% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	50% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
	75% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	100% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
}
