
html, body
, h1, h2, h3, h4, h5, h6
, ul, ul
, hr, p {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

html, body {
	height: 100%;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	margin: 35px 0;
	font-size: 1.9em;
}

body {
	overflow-y: scroll;
}

a {
	text-decoration: none;
	color: inherit;
}

